<!--The content below is only a placeholder and can be replaced.-->


<div>
    <mat-card>Simple card
     <br/>  <a href="https://stackblitz.com/edit/angular-mdsnackbar?file=app%2Fapp.module.ts">Snackbar example</a>
     <br/> <a href="https://netbasal.com/reactive-sticky-header-in-angular-12dbffb3f1d3">Floating sticky header</a>
    </mat-card>
</div>  
<button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
    Open Snackbar !!!
  </button>
<div>
   Dynamic Data
</div>

<button mat-button>Basic </button><button mat-button>Basic </button>
 
<router-outlet></router-outlet>
